/*
?Paleta de colores.
*Oxford blue: #050831
*Yale blue: #133072
*Columbia blue: #D5E6F7
*Mauve: #D5ADFB   
*Folly: #F90052
*/
.container{
    max-width: 800px;
}


.form-control{
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px ;
    font-family: Poppins,sans-serif;
}

#label-textarea{
    font-family: Poppins, sans-serif;
}

.cardEdit{
    border: none;
}

/*Barra azul*/
.barra-azul{
    background-color: #133072;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 30px;
    display: flex;
    height: 50px;

}

/*Botón morado en barra azul*/
.barra-azul button{
    background-color: #D5ADFB;
    color: black;
    border: none;
    border-radius: 10px;
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}

.barra-azul button:hover{
    background-color: #F90052;
    }



/*Íconos en barra azul*/
.fi{
    color:#D5ADFB;
    font-size: 25px;
    margin-right: 8px;
    margin-left: 8px;
}

.fi:hover {
    color: #F90052; /* Color que deseas aplicar al pasar el cursor */
}